<!DOCTYPE html>
<head>
   <title>RPi Web Server</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart1);

      function drawChart1() {

        var data1 = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Temperature', {{ temp }}],
        ]);

        var options = {
          width: 160, height: 160,
          redFrom: 35, redTo: 50,
          yellowFrom:25, yellowTo: 35,
          minorTicks: 5,
          min: 0, max: 50
        };
        var chart = new google.visualization.Gauge(document.getElementById('tempchart'));
        chart.draw(data1, options);
      }
   </script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart2);

      function drawChart2() {

        var data2 = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Humidity', {{ humid }}],
        ]);

        var options = {
          width: 160, height: 160,
          redFrom: 80, redTo: 100,
          yellowFrom:60, yellowTo: 80,
          minorTicks: 5,
          min: 0, max: 100
        };
        var chart = new google.visualization.Gauge(document.getElementById('humidchart'));
        chart.draw(data2, options);
      }
   </script>
</head>

<body>
   <div class="container">
      <div class="row border border-primary rounded" style="margin-top: 10px; padding: 10px;">   
         <h1 style="margin: auto;"> SHOM : Smart Home Office Manager </h1>
         {% if day == 'false' %}
            <a href="/workday/day/on" class="btn btn-lg btn-success" role="button">Start Day</a>
         {% else %}
            <a href="/workday/day/off" class="btn btn-lg btn-danger" role="button">End Day</a>
         {% endif %}
      </div>
      <div class="row border border-primary rounded" style="margin-top: 10px; margin-bottom: 10px; padding-bottom:10px;">
          <div class="col-sm"><h2> Office Environment Stats </h2></div>
          <div class="col-sm" id="tempchart" style="width:160px; height: 160px;" ></div>
          <div class="col-sm" id="humidchart" style="width:160px; height: 160px;"></div>
      </div>
      <div class="row border border-primary rounded" style="margin-bottom: 10px; padding-bottom: 10px;">
         <div class="col-sm"><h2> Device Controls </h2></div>
      {% for device in devices %}
         <div class="col-sm">
            <h3>{{ devices[device].name }}
            {% if devices[device].state == 'true' %}
               is currently <strong>on</strong></h3>
               <div class="row">
                  <div class="col-md-4">
                     <a href="/workday/{{device}}/off" class="btn btn-lg btn-danger" role="button">Turn off</a>
                  </div>
               </div>
            {% else %}
               is currently <strong>off</strong></h2>
               <div class="row">
                  <div class="col-md-4">
                     <a href="/workday/{{device}}/on" class="btn btn-lg btn-success" role="button">Turn on</a>
                  </div>
               </div>
            {% endif %}
         </div>
      {% endfor %}
      </div>
      {% for break in breaks %}
      <div class="row border border-primary rounded" style="margin-bottom: 10px;">
         <div class="col-md-12" style="padding-top: 10px";><h3>Break Type : {{ breaks[break].name }} </h3></div>
         <div class="col-md-12">
            <table class="table table-striped">
               <tr>
                  <th colspan="2">
                     {% if breaks[break].state == 'false' %}
                        <a href="/workday/break/{{break}}/on" class="btn btn-lg btn-success" role="button">Start Break</a>
                     {% else %}
                        <a href="/workday/break/{{break}}/off" class="btn  btn-lg btn-danger" role="button">End Break</a>
                     {% endif %}
                  </th>
               </tr>
               <tr>
                  <th width="50%">Start Time</th>
                  <th width="50%">End Time</th>
               </tr>
          
               {% for times in breaks[break].times %}
                  <tr>
                     <td width="50%">{{ breaks[break].times[times].start }}</td>
                     <td width="50%">{{ breaks[break].times[times].end }} </td>
                  </tr>
               {% endfor %}
            </table>
         </div>
      </div>
      {% endfor %}
      <div class="row border border-primary rounded" style="margin-bottom:10px;">
         <div class="col-md-12" style="padding-top:10px;"><h3>Weekly Start/End Times</h3></div>
         <div class="col-md" style="margin: 0 auto;"><iframe width='500' height='300' style='border: 1px solid; margin: 0 auto; display:block;' src="{{ chart1 }}"></iframe></div>
         <div class="col-md" style="margin: 0 auto;"><iframe width='500' height='300' style='border: 1px solid; margin: 0 auto; display:block;' src="{{ chart2 }}"></iframe></div>
      </div>
   </div>
</body>
</html>
